In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df_without_covid = pd.read_csv('accidents_without_covid.csv')
df_with_covid = pd.read_csv('accidents_with_covid.csv')

### Null Statistics before cleaning

In [3]:
print("\n\n\nNULL statistics for 'df_without_covid'\n\n\n")

null_rows = df_without_covid["Temperature(F)"].isna()
total_null_rows = null_rows.sum()
total_null_rows
print("Total number of null rows in 'Temperature(F)' column before Data cleaning = ",total_null_rows)

null_rows = df_without_covid["Humidity(%)"].isna()
total_null_rows = null_rows.sum()
total_null_rows
print("Total number of null rows in 'Humidity(%)' column before Data cleaning = ",total_null_rows)

null_rows = df_without_covid["Wind_Speed(mph)"].isna()
total_null_rows = null_rows.sum()
total_null_rows
print("Total number of null rows in 'Wind_Speed(mph)' column before Data cleaning = ",total_null_rows)


print("\n\n\nNULL statistics for 'df_with_covid'\n\n\n")

null_rows = df_with_covid["Temperature(F)"].isna()
total_null_rows = null_rows.sum()
total_null_rows
print("Total number of null rows in 'Temperature(F)' column before Data cleaning = ",total_null_rows)

null_rows = df_with_covid["Humidity(%)"].isna()
total_null_rows = null_rows.sum()
total_null_rows
print("Total number of null rows in 'Humidity(%)' column before Data cleaning = ",total_null_rows)

null_rows = df_with_covid["Wind_Speed(mph)"].isna()
total_null_rows = null_rows.sum()
total_null_rows
print("Total number of null rows in 'Wind_Speed(mph)' column before Data cleaning = ",total_null_rows,"\n\n\n")

NULL statistics for 'df_without_covid'



Total number of null rows in 'Temperature(F)' column before Data cleaning =  5960
Total number of null rows in 'Humidity(%)' column before Data cleaning =  6465
Total number of null rows in 'Wind_Speed(mph)' column before Data cleaning =  77416



NULL statistics for 'df_with_covid'



Total number of null rows in 'Temperature(F)' column before Data cleaning =  2262
Total number of null rows in 'Humidity(%)' column before Data cleaning =  2665
Total number of null rows in 'Wind_Speed(mph)' column before Data cleaning =  3323

# DATA CLEANING

#### Fill missing temperature values based on seasonal average

In [4]:
#seasonal temperature ranges for different cities
seasonal_ranges = {
    "Charlotte": {
        "Spring": (55, 74),
        "Summer": (69, 89),
        "Fall": (53, 72),
        "Winter": (36, 55)
    },
    "Houston": {
        "Spring": (63, 82),
        "Summer": (75, 94),
        "Fall": (63, 82),
        "Winter": (46, 65)
    },
    "Los Angeles": {
        "Spring": (56, 69),
        "Summer": (65, 78),
        "Fall": (56, 73),
        "Winter": (48, 66)
    },
    "Miami": {  
        "Spring": (65, 80),
        "Summer": (75, 90),
        "Fall": (70, 85),
        "Winter": (60, 75)
    },
    "Orlando": {  
        "Spring": (70, 85),
        "Summer": (80, 95),
        "Fall": (70, 85),
        "Winter": (55, 75)
    },
    "Dallas": {  
        "Spring": (60, 75),
        "Summer": (80, 100),
        "Fall": (60, 75),
        "Winter": (40, 60)
    },
    "Austin": {  
        "Spring": (65, 80),
        "Summer": (85, 100),
        "Fall": (65, 80),
        "Winter": (45, 65)
    },
    "Baton Rouge": {  
        "Spring": (65, 80),
        "Summer": (85, 95),
        "Fall": (65, 80),
        "Winter": (45, 60)
    },
    "Nashville": {  
        "Spring": (55, 70),
        "Summer": (80, 95),
        "Fall": (55, 70),
        "Winter": (35, 55)
    },
    "Raleigh": {  
        "Spring": (60, 75),
        "Summer": (80, 95),
        "Fall": (60, 75),
        "Winter": (40, 60)
    }
}


# determine season based on Start_Time
def get_season(row):
    start_time = datetime.strptime(row["Start_Time"], "%Y-%m-%dT%H:%M:%S.%f")
    if datetime(start_time.year, 3, 20) <= start_time <= datetime(start_time.year, 6, 20):
        return "Spring"
    elif datetime(start_time.year, 6, 21) <= start_time <= datetime(start_time.year, 9, 21):
        return "Summer"
    elif datetime(start_time.year, 9, 22) <= start_time <= datetime(start_time.year, 12, 20):
        return "Fall"
    else:
        return "Winter"

#Find the avergae
def fill_missing_temperature(row):
    city = row["City"]
    season = get_season(row)
    temp_range = seasonal_ranges[city][season]
    return sum(temp_range) / 2

# Apply the function to fill missing values
df_without_covid["Temperature(F)"].fillna(df_without_covid.apply(fill_missing_temperature, axis=1), inplace=True)
df_with_covid["Temperature(F)"].fillna(df_with_covid.apply(fill_missing_temperature, axis=1), inplace=True)

#### Fill missing humidity values based on seasonal average

In [5]:

#seasonal humidity ranges for different cities
seasonal_humidity_ranges = {
    "Charlotte": {
        "Spring": (50, 70),
        "Summer": (60, 80),
        "Fall": (50, 70),
        "Winter": (40, 60)
    },
    "Houston": {
        "Spring": (60, 80),
        "Summer": (65, 85),
        "Fall": (60, 80),
        "Winter": (50, 70)
    },
    "Los Angeles": {
        "Spring": (60, 75),
        "Summer": (60, 75),
        "Fall": (60, 75),
        "Winter": (50, 65)
    },
    "Miami": {
        "Spring": (65, 85),
        "Summer": (70, 90),
        "Fall": (65, 85),
        "Winter": (55, 75)
    },
    "Orlando": {
        "Spring": (70, 90),
        "Summer": (75, 95),
        "Fall": (70, 90),
        "Winter": (60, 80)
    },
    "Dallas": {
        "Spring": (55, 75),
        "Summer": (70, 90),
        "Fall": (55, 75),
        "Winter": (45, 65)
    },
    "Austin": {
        "Spring": (60, 80),
        "Summer": (70, 90),
        "Fall": (60, 80),
        "Winter": (50, 70)
    },
    "Baton Rouge": {
        "Spring": (60, 80),
        "Summer": (70, 90),
        "Fall": (60, 80),
        "Winter": (50, 70)
    },
    "Nashville": {
        "Spring": (55, 75),
        "Summer": (70, 90),
        "Fall": (55, 75),
        "Winter": (45, 65)
    },
    "Raleigh": {
        "Spring": (60, 80),
        "Summer": (70, 90),
        "Fall": (60, 80),
        "Winter": (50, 70)
    }
}

# determine season based on Start_Time
def get_season(row):
    start_time = datetime.strptime(row["Start_Time"], "%Y-%m-%dT%H:%M:%S.%f")
    if datetime(start_time.year, 3, 20) <= start_time <= datetime(start_time.year, 6, 20):
        return "Spring"
    elif datetime(start_time.year, 6, 21) <= start_time <= datetime(start_time.year, 9, 21):
        return "Summer"
    elif datetime(start_time.year, 9, 22) <= start_time <= datetime(start_time.year, 12, 20):
        return "Fall"
    else:
        return "Winter"

# Find the average
def fill_missing_humidity(row):
    city = row["City"]
    season = get_season(row)
    humidity_range = seasonal_humidity_ranges[city][season]
    return sum(humidity_range) / 2

# Apply the fill_missing_humidity function to fill missing values
df_without_covid["Humidity(%)"].fillna(df_without_covid.apply(fill_missing_humidity, axis=1), inplace=True)
df_with_covid["Humidity(%)"].fillna(df_with_covid.apply(fill_missing_humidity, axis=1), inplace=True)

#### Fill missing WInd Speed values  based on seasonal average

In [6]:
#seasonal wind speed ranges
seasonal_wind_speed_ranges = {
    "Charlotte": {
        "Spring": (5, 15),
        "Summer": (5, 15),
        "Fall": (5, 15),
        "Winter": (5, 15)
    },
    "Houston": {
        "Spring": (5, 20),
        "Summer": (5, 20),
        "Fall": (5, 20),
        "Winter": (5, 20)
    },
    "Los Angeles": {
        "Spring": (5, 15),
        "Summer": (5, 15),
        "Fall": (5, 15),
        "Winter": (5, 15)
    },
    "Miami": {
        "Spring": (10, 25),
        "Summer": (10, 25),
        "Fall": (10, 25),
        "Winter": (10, 25)
    },
    "Orlando": {
        "Spring": (10, 20),
        "Summer": (10, 20),
        "Fall": (10, 20),
        "Winter": (10, 20)
    },
    "Dallas": {
        "Spring": (5, 15),
        "Summer": (5, 15),
        "Fall": (5, 15),
        "Winter": (5, 15)
    },
    "Austin": {
        "Spring": (5, 20),
        "Summer": (5, 20),
        "Fall": (5, 20),
        "Winter": (5, 20)
    },
    "Baton Rouge": {
        "Spring": (5, 15),
        "Summer": (5, 15),
        "Fall": (5, 15),
        "Winter": (5, 15)
    },
    "Nashville": {
        "Spring": (5, 15),
        "Summer": (5, 15),
        "Fall": (5, 15),
        "Winter": (5, 15)
    },
    "Raleigh": {
        "Spring": (5, 20),
        "Summer": (5, 20),
        "Fall": (5, 20),
        "Winter": (5, 20)
    }
}

# determine season based on Start_Time
def get_season(row):
    start_time = datetime.strptime(row["Start_Time"], "%Y-%m-%dT%H:%M:%S.%f")
    if datetime(start_time.year, 3, 20) <= start_time <= datetime(start_time.year, 6, 20):
        return "Spring"
    elif datetime(start_time.year, 6, 21) <= start_time <= datetime(start_time.year, 9, 21):
        return "Summer"
    elif datetime(start_time.year, 9, 22) <= start_time <= datetime(start_time.year, 12, 20):
        return "Fall"
    else:
        return "Winter"

# Find the average
def fill_missing_wind_speed(row):
    city = row["City"]
    season = get_season(row)
    wind_speed_range = seasonal_wind_speed_ranges[city][season]
    return sum(wind_speed_range) / 2

# Apply the fill_missing_wind_speed function to fill missing values
df_without_covid["Wind_Speed(mph)"].fillna(df_without_covid.apply(fill_missing_wind_speed, axis=1), inplace=True)
df_with_covid["Wind_Speed(mph)"].fillna(df_with_covid.apply(fill_missing_wind_speed, axis=1), inplace=True)

### Null Statistics after cleaning

In [18]:
print("\n\n\nNULL statistics for 'df_without_covid'\n\n\n")

null_rows = df_without_covid["Temperature(F)"].isna()
total_null_rows = null_rows.sum()
total_null_rows
print("Total number of null rows in 'Temperature(F)' column before Data cleaning = ",total_null_rows)

null_rows = df_without_covid["Humidity(%)"].isna()
total_null_rows = null_rows.sum()
total_null_rows
print("Total number of null rows in 'Humidity(%)' column before Data cleaning = ",total_null_rows)

null_rows = df_without_covid["Wind_Speed(mph)"].isna()
total_null_rows = null_rows.sum()
total_null_rows
print("Total number of null rows in 'Wind_Speed(mph)' column before Data cleaning = ",total_null_rows)


print("\n\n\nNULL statistics for 'df_with_covid'\n\n\n")

null_rows = df_with_covid["Temperature(F)"].isna()
total_null_rows = null_rows.sum()
total_null_rows
print("Total number of null rows in 'Temperature(F)' column before Data cleaning = ",total_null_rows)

null_rows = df_with_covid["Humidity(%)"].isna()
total_null_rows = null_rows.sum()
total_null_rows
print("Total number of null rows in 'Humidity(%)' column before Data cleaning = ",total_null_rows)

null_rows = df_with_covid["Wind_Speed(mph)"].isna()
total_null_rows = null_rows.sum()
total_null_rows
print("Total number of null rows in 'Wind_Speed(mph)' column before Data cleaning = ",total_null_rows,"\n\n\n")

NULL statistics for 'df_without_covid'



Total number of null rows in 'Temperature(F)' column before Data cleaning =  0
Total number of null rows in 'Humidity(%)' column before Data cleaning =  0
Total number of null rows in 'Wind_Speed(mph)' column before Data cleaning =  0



NULL statistics for 'df_with_covid'



Total number of null rows in 'Temperature(F)' column before Data cleaning =  0
Total number of null rows in 'Humidity(%)' column before Data cleaning =  0
Total number of null rows in 'Wind_Speed(mph)' column before Data cleaning =  0

In [2]:
df_without_covid = pd.read_csv('df_without_covid_clean.csv')
df_with_covid = pd.read_csv('df_with_covid_clean.csv')

In [5]:
df_without_covid['Weather_Condition'] = df_without_covid['Weather_Condition'].fillna('Unknown Weather')
df_with_covid['Weather_Condition'] = df_with_covid['Weather_Condition'].fillna('Unknown Weather')

In [3]:
df_with_covid

,Unnamed: 0,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,inplace
0,0,A-949325,Source2,3,2021-08-02T22:36:20.000000,2021-08-02 23:05:58,34.036858,-118.379181,NaN,NaN,...,False,True,False,False,False,Night,Night,Night,Night,True
1,1,A-949330,Source2,2,2021-08-01T22:11:57.000000,2021-08-01 22:56:39,34.056179,-118.256027,NaN,NaN,...,False,False,False,False,False,Night,Night,Night,Night,True
2,2,A-949341,Source2,3,2021-08-02T19:05:44.000000,2021-08-02 19:35:21,34.073071,-118.219200,NaN,NaN,...,False,False,False,True,False,Day,Day,Day,Day,True
3,3,A-949349,Source2,2,2021-08-02T21:53:48.000000,2021-08-02 22:23:19,35.208199,-80.797241,NaN,NaN,...,False,False,False,False,False,Night,Night,Night,Day,True
4,4,A-949360,Source2,2,2021-08-02T20:40:08.000000,2021-08-02 21:39:50,35.152740,-80.876312,NaN,NaN,...,False,False,False,True,False,Night,Day,Day,Day,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285124,285124,A-7279428,Source1,2,2020-02-28T20:43:00.000000,2020-02-28 21:56:31,34.032606,-118.220771,34.032606,-118.220771,...,False,False,False,False,False,Night,Night,Night,Night,True
285125,285125,A-7279432,Source1,2,2020-02-28T21:10:00.000000,2020-02-28 22:02:32,33.947436,-118.279297,33.947436,-118.279297,...,False,False,False,True,False,Night,Night,Night,Night,True
285126,285126,A-7279434,Source1,2,2020-02-28T21:24:00.000000,2020-02-28 21:59:34,34.088608,-118.475191,34.088608,-118.475191,...,False,False,False,False,False,Night,Night,Night,Night,True
285127,285127,A-7279435,Source1,2,2020-02-28T21:29:00.000000,2020-02-28 22:21:32,34.088608,-118.475191,34.088608,-118.475191,...,False,False,False,False,False,Night,Night,Night,Night,True
285128,285128,A-7279436,Source1,2,2020-02-28T21:27:00.000000,2020-02-28 22:20:32,33.989150,-118.280163,33.989150,-118.280163,...,False,False,False,False,False,Night,Night,Night,Night,True

In [6]:
df_without_covid.to_csv("df_without_covid_clean.csv")
df_with_covid.to_csv("df_with_covid_clean.csv")